.article {
   background: radial-gradient(hsl(100, 100%, 60%), hsl(200, 100%, 60%)) fixed;
   background: conic-gradient(
       hsl(100 100% 60%),
       hsl(200 100% 60%),
       hsl(100 100% 60%)
     )
     fixed;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
 }
 
body {
background: hsl(204 100% 5%);

color: white;
min-block-size: 200vh;
min-inline-size: 100%;
padding: 5vmin;
box-sizing: border-box;
display: grid;
place-content: left;
font-family: system-ui;
font-size: min(200%, 5vmin);
}
 




p {
  font-family: "Dank Mono", ui-monospace, monospace;
  
  max-inline-size: 50ch;
  text_align: left;
  
  }
    



html {
block-size: 100%;
inline-size: 100%;
text-align: left;
}

div {

}
.paragraph_1: {
}


